<!doctype html>
<html>

<head>
    <title>读历史</title>
    <!-- In HTML5 -->
    <meta charset="utf-8" />
    <meta name="referrer" content="origin" />
    <!-- Defining the charset in HTML4 -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="App-Config" content="fullscreen=yes,useHistoryState=yes,transition=yes" />
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta content="yes" name="apple-touch-fullscreen" />
    <meta name="keywords" content="hujiang-frame" />
    <meta name="description" content="hujiang-frame" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="stylesheet" crossorigin href="{{css}}">
</head>
<body>
    <div id="root">
       
    </div>
    {% for js in jslist %}
    <script type="module" crossorigin src="{{js}}"></script>
    {% endfor %}
    
</body>

</html>